.App {
  text-align: center;
}
.menu-opened{
  background-color: rgba(255,255,255,.1);
}
.nav-pills .nav-link:not(.active):hover {
  color: #c2c7d0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar_active{
    position: relative;
    left: 0;
    transition: left 0.5s ease-in;
}
.sidebar_inactive{
    position: relative;
    left: -250px;
    transition: left 0.5s ease-in;
}

aside.main-sidebar {
  box-shadow: none !important;
}